mi-core/backups/n8n/2026-06-24T000000/workflows.json
{"data":[{"updatedAt":"2026-06-24T09:41:20.551Z","createdAt":"2026-06-24T06:16:01.461Z","id":"6PbvrfUXTfEIUoO9","name":"seo-schema-validation","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"seo-schema-validate","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,304],"webhookId":"seo-schema-validate","id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/schema?url={{ $json.url }}","options":{"timeout":30000}},"name":"Validate Schema","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,80],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Log Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"node_2"}],"connections":{"Webhook":{"main":[[{"node":"Validate Schema","type":"main","index":0}]]},"Validate Schema":{"main":[[{"node":"Log Result","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","executionTimeout":120},"staticData":null,"meta":null,"pinData":{},"versionId":"b78a0c0f-a285-4ff3-b7fd-9228192072c5","activeVersionId":"b78a0c0f-a285-4ff3-b7fd-9228192072c5","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.463Z","createdAt":"2026-06-24T06:16:01.463Z","role":"workflow:owner","workflowId":"6PbvrfUXTfEIUoO9","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T07:12:43.916Z","createdAt":"2026-06-24T07:12:43.916Z","versionId":"b78a0c0f-a285-4ff3-b7fd-9228192072c5","workflowId":"6PbvrfUXTfEIUoO9","nodes":[{"parameters":{"httpMethod":"POST","path":"seo-schema-validate","options":{}},"name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-160,304],"webhookId":"seo-schema-validate","id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/schema?url={{ $json.url }}","options":{"timeout":30000}},"name":"Validate Schema","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,80],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Log Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,80],"id":"node_2"}],"connections":{"Webhook":{"main":[[{"node":"Validate Schema","type":"main","index":0}]]},"Validate Schema":{"main":[[{"node":"Log Result","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":true},"tags":[]},{"updatedAt":"2026-06-24T09:40:15.655Z","createdAt":"2026-06-24T09:40:15.655Z","id":"Ad8BGOHc1mxBKbRr","name":"mi-failure-alert-handler","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Error Trigger","type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-160,300],"id":"err_node_0"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/mi/workflows/failure","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ workflow_id: $json.workflow.id, workflow_name: $json.workflow.name, execution_id: $json.execution.id, status: \"failed\", error: $json.execution.error?.message || \"unknown\", owner_department: \"seo\", severity: \"P1\", failed_at: new Date().toISOString() }) }}","options":{"timeout":10000}},"name":"Alert Mi-Core","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300],"id":"err_node_1"}],"connections":{"Error Trigger":{"main":[[{"node":"Alert Mi-Core","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"ae4bf28c-fc21-42fe-b5e1-858b80669018","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-24T09:40:15.658Z","createdAt":"2026-06-24T09:40:15.658Z","role":"workflow:owner","workflowId":"Ad8BGOHc1mxBKbRr","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-06-24T09:41:20.610Z","createdAt":"2026-06-24T06:16:01.481Z","id":"G23aM8msRDCwTZ6O","name":"seo-review-summary","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 1 * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,304],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/report?range=30d","options":{"timeout":30000}},"name":"Get Monthly SEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,144],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/ceo/task","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Submit CEO Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,176],"id":"node_2"}],"connections":{"Schedule":{"main":[[{"node":"Get Monthly SEO","type":"main","index":0}]]},"Get Monthly SEO":{"main":[[{"node":"Submit CEO Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","executionTimeout":120},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"18211506-8e35-4e13-92c8-631d27c0ebd8","activeVersionId":"18211506-8e35-4e13-92c8-631d27c0ebd8","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.482Z","createdAt":"2026-06-24T06:16:01.482Z","role":"workflow:owner","workflowId":"G23aM8msRDCwTZ6O","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T07:12:20.795Z","createdAt":"2026-06-24T07:12:20.795Z","versionId":"18211506-8e35-4e13-92c8-631d27c0ebd8","workflowId":"G23aM8msRDCwTZ6O","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 9 1 * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-112,304],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/report?range=30d","options":{"timeout":30000}},"name":"Get Monthly SEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,144],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/ceo/task","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Submit CEO Report","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,176],"id":"node_2"}],"connections":{"Schedule":{"main":[[{"node":"Get Monthly SEO","type":"main","index":0}]]},"Get Monthly SEO":{"main":[[{"node":"Submit CEO Report","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":true},"tags":[]},{"updatedAt":"2026-06-24T09:51:53.727Z","createdAt":"2026-06-24T09:51:53.727Z","id":"Qc6R97dLKQygyT0x","name":"mi-sandbox-failure-test","active":false,"isArchived":false,"nodes":[{"parameters":{},"name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-160,300],"id":"sandbox_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/INTENTIONALLY_INVALID_ENDPOINT_FOR_FAILURE_TEST","options":{"timeout":5000}},"name":"Intentional Failure","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,300],"id":"sandbox_1"}],"connections":{"Manual Trigger":{"main":[[{"node":"Intentional Failure","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","executionTimeout":30,"errorWorkflow":""},"staticData":null,"meta":null,"pinData":null,"versionId":"0c95f953-fbd3-42c6-9990-41c0d665b0ff","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-06-24T09:51:53.729Z","createdAt":"2026-06-24T09:51:53.729Z","role":"workflow:owner","workflowId":"Qc6R97dLKQygyT0x","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-06-24T09:41:20.660Z","createdAt":"2026-06-24T06:16:01.429Z","id":"YuGiYN3ZQqClxoIE","name":"seo-content-opportunity-scan","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 3"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,288],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/keywords?domain=bakudanramen.com","options":{"timeout":30000}},"name":"Scan Keywords","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,240],"id":"node_1"},{"parameters":{"jsCode":"\n        const items = $input.all();\n        return items.map(item => ({\n          json: { ...item.json, opportunity_score: Math.random() * 100 | 0, scanned_at: new Date().toISOString() }\n        }));\n      "},"name":"Score Opportunities","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,192],"id":"node_2"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Store Opportunities","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,240],"id":"node_3"}],"connections":{"Schedule":{"main":[[{"node":"Scan Keywords","type":"main","index":0}]]},"Scan Keywords":{"main":[[{"node":"Score Opportunities","type":"main","index":0}]]},"Score Opportunities":{"main":[[{"node":"Store Opportunities","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","executionTimeout":120},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"fab80c45-50d3-45cf-a208-db92c313ce86","activeVersionId":"fab80c45-50d3-45cf-a208-db92c313ce86","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.430Z","createdAt":"2026-06-24T06:16:01.430Z","role":"workflow:owner","workflowId":"YuGiYN3ZQqClxoIE","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T07:13:09.350Z","createdAt":"2026-06-24T07:13:09.350Z","versionId":"fab80c45-50d3-45cf-a208-db92c313ce86","workflowId":"YuGiYN3ZQqClxoIE","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8 * * 3"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,288],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/keywords?domain=bakudanramen.com","options":{"timeout":30000}},"name":"Scan Keywords","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,240],"id":"node_1"},{"parameters":{"jsCode":"\n        const items = $input.all();\n        return items.map(item => ({\n          json: { ...item.json, opportunity_score: Math.random() * 100 | 0, scanned_at: new Date().toISOString() }\n        }));\n      "},"name":"Score Opportunities","type":"n8n-nodes-base.code","typeVersion":2,"position":[704,192],"id":"node_2"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Store Opportunities","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,240],"id":"node_3"}],"connections":{"Schedule":{"main":[[{"node":"Scan Keywords","type":"main","index":0}]]},"Scan Keywords":{"main":[[{"node":"Score Opportunities","type":"main","index":0}]]},"Score Opportunities":{"main":[[{"node":"Store Opportunities","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":true},"tags":[]},{"updatedAt":"2026-06-24T09:41:20.712Z","createdAt":"2026-06-24T06:16:01.498Z","id":"m4XB9jBgiOqWBBec","name":"seo-dashboard-sync","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */12 * * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,288],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/snapshot","options":{"timeout":30000}},"name":"Get SEO Snapshot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,80],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/bigdata/ingest/json","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Push to Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,80],"id":"node_2"}],"connections":{"Schedule":{"main":[[{"node":"Get SEO Snapshot","type":"main","index":0}]]},"Get SEO Snapshot":{"main":[[{"node":"Push to Dashboard","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","executionTimeout":120},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"027753df-7847-44c7-adde-8a2d8527e1b5","activeVersionId":"027753df-7847-44c7-adde-8a2d8527e1b5","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.499Z","createdAt":"2026-06-24T06:16:01.499Z","role":"workflow:owner","workflowId":"m4XB9jBgiOqWBBec","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T07:11:50.462Z","createdAt":"2026-06-24T07:11:50.462Z","versionId":"027753df-7847-44c7-adde-8a2d8527e1b5","workflowId":"m4XB9jBgiOqWBBec","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */12 * * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-160,288],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/snapshot","options":{"timeout":30000}},"name":"Get SEO Snapshot","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,80],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/bigdata/ingest/json","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Push to Dashboard","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[656,80],"id":"node_2"}],"connections":{"Schedule":{"main":[[{"node":"Get SEO Snapshot","type":"main","index":0}]]},"Get SEO Snapshot":{"main":[[{"node":"Push to Dashboard","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":true},"tags":[]},{"updatedAt":"2026-06-24T09:41:20.768Z","createdAt":"2026-06-24T06:16:01.325Z","id":"tyo9YyRg7tsLDCLR","name":"seo-daily-audit","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,304],"id":"node_0"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/seo/crawl","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Crawl Bakudan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,304],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/seo/crawl","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Crawl Raw Sushi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,304],"id":"node_2"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Log Evidence","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,304],"id":"node_3"}],"connections":{"Schedule":{"main":[[{"node":"Crawl Bakudan","type":"main","index":0}]]},"Crawl Bakudan":{"main":[[{"node":"Crawl Raw Sushi","type":"main","index":0}]]},"Crawl Raw Sushi":{"main":[[{"node":"Log Evidence","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","executionTimeout":120},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"9c1432f5-a048-481b-81b9-b0aea45cdaba","activeVersionId":"9c1432f5-a048-481b-81b9-b0aea45cdaba","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.329Z","createdAt":"2026-06-24T06:16:01.329Z","role":"workflow:owner","workflowId":"tyo9YyRg7tsLDCLR","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T07:13:52.004Z","createdAt":"2026-06-24T07:13:52.004Z","versionId":"9c1432f5-a048-481b-81b9-b0aea45cdaba","workflowId":"tyo9YyRg7tsLDCLR","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-96,304],"id":"node_0"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/seo/crawl","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Crawl Bakudan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,304],"id":"node_1"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/seo/crawl","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Crawl Raw Sushi","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,304],"id":"node_2"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Log Evidence","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,304],"id":"node_3"}],"connections":{"Schedule":{"main":[[{"node":"Crawl Bakudan","type":"main","index":0}]]},"Crawl Bakudan":{"main":[[{"node":"Crawl Raw Sushi","type":"main","index":0}]]},"Crawl Raw Sushi":{"main":[[{"node":"Log Evidence","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":true},"tags":[]},{"updatedAt":"2026-06-24T09:41:20.825Z","createdAt":"2026-06-24T06:16:01.396Z","id":"tzP1elP8fJXibHCI","name":"seo-technical-health-check","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */6 * * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,304],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/health?domain=bakudanramen.com","options":{"timeout":30000}},"name":"Check Bakudan Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,288],"id":"node_1"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/health?domain=rawsushibar.com","options":{"timeout":30000}},"name":"Check Raw Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,464],"id":"node_2"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Store Evidence","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,320],"id":"node_3"}],"connections":{"Schedule":{"main":[[{"node":"Check Bakudan Health","type":"main","index":0}]]},"Check Bakudan Health":{"main":[[{"node":"Check Raw Health","type":"main","index":0}]]},"Check Raw Health":{"main":[[{"node":"Store Evidence","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","executionTimeout":120},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":{},"versionId":"991d9aa9-fa4d-481c-a704-980ad604cdb6","activeVersionId":"991d9aa9-fa4d-481c-a704-980ad604cdb6","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.398Z","createdAt":"2026-06-24T06:16:01.398Z","role":"workflow:owner","workflowId":"tzP1elP8fJXibHCI","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T07:13:33.703Z","createdAt":"2026-06-24T07:13:33.703Z","versionId":"991d9aa9-fa4d-481c-a704-980ad604cdb6","workflowId":"tzP1elP8fJXibHCI","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 */6 * * *"}]}},"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-176,304],"id":"node_0"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/health?domain=bakudanramen.com","options":{"timeout":30000}},"name":"Check Bakudan Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,288],"id":"node_1"},{"parameters":{"url":"http://127.0.0.1:4001/api/seo/health?domain=rawsushibar.com","options":{"timeout":30000}},"name":"Check Raw Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[768,464],"id":"node_2"},{"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/n8n/evidence","sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{"timeout":30000}},"name":"Store Evidence","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,320],"id":"node_3"}],"connections":{"Schedule":{"main":[[{"node":"Check Bakudan Health","type":"main","index":0}]]},"Check Bakudan Health":{"main":[[{"node":"Check Raw Health","type":"main","index":0}]]},"Check Raw Health":{"main":[[{"node":"Store Evidence","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":true},"tags":[]},{"updatedAt":"2026-06-24T09:41:06.319Z","createdAt":"2026-06-24T06:16:01.375Z","id":"vOT8BoqZhD3flsml","name":"seo-weekly-executive-report","active":true,"isArchived":false,"nodes":[{"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[300,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 1"}]}},"id":"node_0","credentials":{}},{"name":"Get SEO Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,300],"parameters":{"method":"GET","url":"http://127.0.0.1:4001/api/seo/report?range=7d","options":{"timeout":30000}},"id":"node_1","credentials":{}},{"name":"Post to CEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,300],"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/ceo/task","sendBody":true,"body":"{\"title\":\"Weekly SEO Executive Report\",\"description\":\"={{ $json.summary }}\"}","options":{"timeout":30000}},"id":"node_2","credentials":{}}],"connections":{"Schedule":{"main":[[{"node":"Get SEO Data","type":"main","index":0}]]},"Get SEO Data":{"main":[[{"node":"Post to CEO","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","executionTimeout":120},"staticData":{"node:Schedule":{"recurrenceRules":[]}},"meta":null,"pinData":null,"versionId":"d460d880-f867-40c5-a50c-11184540270b","activeVersionId":"d460d880-f867-40c5-a50c-11184540270b","triggerCount":1,"shared":[{"updatedAt":"2026-06-24T06:16:01.376Z","createdAt":"2026-06-24T06:16:01.376Z","role":"workflow:owner","workflowId":"vOT8BoqZhD3flsml","projectId":"jlgrq1Sn5hDwh9LR"}],"activeVersion":{"updatedAt":"2026-06-24T06:16:01.377Z","createdAt":"2026-06-24T06:16:01.377Z","versionId":"d460d880-f867-40c5-a50c-11184540270b","workflowId":"vOT8BoqZhD3flsml","nodes":[{"name":"Schedule","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[300,300],"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 7 * * 1"}]}},"id":"node_0","credentials":{}},{"name":"Get SEO Data","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,300],"parameters":{"method":"GET","url":"http://127.0.0.1:4001/api/seo/report?range=7d","options":{"timeout":30000}},"id":"node_1","credentials":{}},{"name":"Post to CEO","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[600,300],"parameters":{"method":"POST","url":"http://127.0.0.1:4001/api/ceo/task","sendBody":true,"body":"{\"title\":\"Weekly SEO Executive Report\",\"description\":\"={{ $json.summary }}\"}","options":{"timeout":30000}},"id":"node_2","credentials":{}}],"connections":{"Schedule":{"main":[[{"node":"Get SEO Data","type":"main","index":0}]]},"Get SEO Data":{"main":[[{"node":"Post to CEO","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Liem Do","name":null,"description":null,"autosaved":false},"tags":[]}],"nextCursor":null}